<div class="container-fluid">
  <div class="container xd-container">
    <h2>Owners</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name of Disease</th>
          <th>Person</th>
          <th>Place</th>
          <th>Media Type</th>
          <th>Link</th>
        </tr>
        </thead>

        <tbody>
        <!-- <a  routerLink="/owners/{{owner.id}}" routerLinkActive="active" -->
        <tr *ngFor="let successstory of successstories">
          <td>{{successstory.typeofdisease}} </td>
          <td><tr *ngFor="let person of successstory.person">{{person.personName}}</tr></td>
          <td><tr *ngFor="let person of successstory.person">{{person.personPlace}}</tr></td>
          <td><tr><select id="type" name="type" class="form-control" [(ngModel)]="current_type">
              <option *ngFor="let availableformat of successstory.person.availableFormat"
                      [selected]="type.id == current_type.id ? true : null"
                      [ngValue]="type">{{availableformat.formatType}}
              </option>
            </select></tr>
          </td>
          <td><tr *ngFor="let availableFormat of successstory.person.availableFormat">{{availableFormat.link}}</tr></td>
        </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-default" (click)="addOwner()">Add Owner</button>
      </div>
    </div>
  </div>
</div>